{extend name="common/tpl_layout" /}

<!--编码格式-->
{block name='charset'}UTF-8{/block}

<!--自定义meta-->
{block name="custom_head"}
{include file='manage@common/include_custom_head' /}
{/block}

<!--自定义meta-->
{block name="custom_head"}
{include file='manage@common/include_custom_head' /}
<script type="text/javascript" src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<script>
    // 是否开启刷新记忆tab功能
    // var is_remember = false;
</script>
<style>
    .x-so {
        margin-bottom: 0 !important;
    }
</style>
{/block}

{block name="header"}
{/block}
{block name="sidebar"}
{/block}

<!--主体内容-->
{block name="content"}
<!--<div class="x-nav">-->
<!--    &lt;!&ndash;      <span class="layui-breadcrumb">&ndash;&gt;-->
<!--    &lt;!&ndash;        <a href="{:url('manage/index/index')}">首页</a>&ndash;&gt;-->
<!--    &lt;!&ndash;        <a>&ndash;&gt;-->
<!--    &lt;!&ndash;          <cite>导航元素</cite></a>&ndash;&gt;-->
<!--    &lt;!&ndash;      </span>&ndash;&gt;-->
<!--    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"-->
<!--       href="javascript:location.replace(location.href);" title="刷新">-->
<!--        <i class="layui-icon" style="line-height:30px">ဂ</i></a>-->
<!--</div>-->
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" method="post" action="{:url('Manage/Member/getList')}">
            <input class="layui-input input-laydate-datetime" autocomplete="off" placeholder="开始日" name="start" id="start">
            <input class="layui-input input-laydate-datetime" autocomplete="off" placeholder="截止日" name="end" id="end">
            <input type="text" style="width: 300px" name="search" placeholder="请输入用户名/收件人/联系方式/地址关键字等" autocomplete="off" class="layui-input" width="100x">
            <button type="button" class="layui-btn" lay-submit="" lay-filter="search">
                <i class="layui-icon">&#xe615;</i>
            </button>
            <a class="layui-btn" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh-3"></i></a>
        </form>
    </div>
    <table class="layui-table" id="address-list" lay-filter="address-list">
    </table>

</div>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-danger layui-btn-sm" onclick="delAll()">
            <i class="layui-icon"></i>
            批量删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>
<script type="text/html" id="list-action">
    <button class="layui-btn  layui-btn-sm layui-btn-normal" onclick="x_admin_show('编辑分类','{:url('addressInfo')}?address_id={{d.address_id}}')">
        查看
    </button>
    <button class="layui-btn  layui-btn-sm layui-btn-danger" onclick="address_del(this,{{d.address_id}})">
        删除
    </button>
    <button class="layui-btn  layui-btn-sm layui-btn-warm" onclick="change_status(this,{{d.address_id}})">
        {{# if (d.address_status === {:config('address_status_fail')}) { }}  
        启用
        {{# } else { }}
        禁用
        {{# } }}  
    </button>
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            //指定原始表格元素选择器（推荐id选择器）
            elem: '#address-list',
            //设置表头
            cols: [
                [
                    {title: '全选', type: 'checkbox'},
                    {align: 'center', title: '序号', field: 'address_id', type: 'numbers'},
                    {align: 'center', title: '所属用户', field: 'user_nickname'},
                    {align: 'center', title: '收件人', field: 'address_addressee'},
                    {align: 'center', title: '联系方式', field: 'address_mobile', edit: true},
                    {align: 'center', title: '地址', field: 'address', minWidth: 210},
                    {align: 'center', title: '详细地址', field: 'address_detailed', minWidth: 230},
                    {align: 'center', title: '是否为默认', field: 'address_default_title', sort: true},
                    {align: 'center', title: '状态', field: 'address_status_title'},
                    {align: 'center', title: '是否完善', field: 'address_perfect_title', sort: true},
                    {align: 'center', title: '创建时间', field: 'address_create_time', sort: true, minWidth: 180},
                    {align: 'left', title: '操作', templet: '#list-action', minWidth: '200', fixed: 'right'},
                ]
            ],
            //开启隔行背景
            even: true,
            page: true,
            // 每页条数
            limit: 10,
            // 分页数量切换
            limits: [10, 20, 30, 50, 100],
            url: "{:url('Manage/Address/getList')}",
            // 是否loading
            loading: true,
            //如果无需传递额外参数，可不加该参数
            where: {},
            //如果无需自定义HTTP类型，可不加该参数
            method: 'get',
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.data //解析数据列表
                };
            },
            // 工具栏
            toolbar: '#toolbarDemo',
        });
    });
</script>
<script>
    //头工具栏事件
    layui.use('table', function () {
        var table = layui.table;
        table.on('toolbar(address-list)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    layer.alert(JSON.stringify(checkStatus.data));
                    break;
                case 'getCheckLength':
                    layer.msg('选中了：' + checkStatus.data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
            }
        })
    });
</script>

<script>
    // 批量删除
    function delAll () {
        layui.use('table', function () {
            var table = layui.table;
            var data = table.checkStatus('address-list').data;
            var ids = [];

            for (var i in data){
                ids.push(data[i].address_id);
            }
            addressDel(ids);
        });
    }

    /*地址-删除*/
    function address_del(obj, id) {
        addressDel(id);
    }
    /*更改状态*/
    function change_status(obj, id) {
        changeStatus(id);
    }
</script>

<script>
    // 搜索
    layui.use(['form', 'table'], function () {
        var form = layui.form;
        //监听提交
        form.on('submit(search)', function (data) {
            
            var table = layui.table;
            table.reload('address-list', {
                where: data.field,
                page: {
                    curr: 1 //重新从第 1 页开始
                },
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
<script>
    //监听单元格编辑
    layui.use('table', function () {
        var table = layui.table;
        table.on('edit(address-list)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            var formData = {
                address_id : data.address_id,
            };
            formData[field] = value;
            ajaxCommon("{:url('manage/Address/viewEdit', [], '', true)}", formData, 'post', function (result) {
                setTimeout(function () {
                    window.location.reload();
                }, 2000);
            }, function (result) {
                setTimeout(function () {
                    window.location.reload();
                }, 2000);
            });
        })
    });
</script>
<script>
    /*商品删除*/
    function addressDel(id) {
        layer.confirm('确认要删除吗？', function (index) {
            var formData = {
                address_id: id,
            };
            ajaxCommon("{:url('manage/Address/del', [], '', true)}", formData, 'post', function (result) {
                setTimeout(function () {
                    window.location.reload();
                }, 1000);
            }, function (result) {
                setTimeout(function () {
                    window.location.reload();
                }, 2000);
            });
        });
    }
    
    /*更改显示*/
    function changeStatus(id) {
        layer.confirm('确认要更改吗？', function (index) {
            var formData = {
                address_id: id,
            };
            ajaxCommon("{:url('manage/Address/changeStatus', [], '', true)}", formData, 'post', function (result) {
                setTimeout(function () {
                    window.location.reload();
                }, 1000);
            }, function (result) {
                setTimeout(function () {
                    window.location.reload();
                }, 1000);
            });
        });
    }
</script>
{/block}

{block name="footer"}
{/block}